<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首頁</title>
</head>
<body style="background: aquamarine">
<h3 style="color: black">首頁</h3>
<ul >
    <li><a href="/leve1/1">levev1-1</a></li>
    <li><a href="/leve1/2">levev1-2</a></li>
    <li><a href="/leve1/3">levev1-3</a></li>
</ul>
<ul>
    <li><a href="/leve2/1">levev2-1</a></li>
    <li><a href="/leve2/2">levev2-2</a></li>
    <li><a href="/leve2/3">levev2-3</a></li>
</ul>
<ul>
    <li><a href="/leve3/1">levev3-1</a></li>
    <li><a href="/leve3/2">levev3-2</a></li>
    <li><a href="/leve3/3">levev3-3</a></li>
</ul>
</body>
</html>